html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
}

:focus {
    outline: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q, {
    quotes: "" "";
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

html {
    font-size:62.5%;
}
body {
    font-size: 1.6rem;
    line-height:1.5;
    color: #4f4f4f;
    font-family: 'Roboto Mono', monospace;
}
h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 8rem;
}
section{
    padding: 4% 0;
}
a {
    text-decoration: none;
}
nav {
    padding: 3% 10%;
}
nav a {
    display: inline-block;
    padding: .5% 0;
    width: 10%;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}
.orange {
    background-color: ff764e;
    margin-left: 10%;
}
.blue {
    background-color: #5ed3eb;
    margin: 0 24%;
}
.yellow {
    background-color: #ffcd69;
    margin-right: 10%;
}
.top {
    position: relative;
}
.left, .right {
    display: inline-block;
    text-align: center;
    font-size: 150%;
}
.left {
    width:35%;
}
.left img{
    width: 60%;
    border-radius: 50%;
}
.right {
    width: 60%;
    position: absolute;
    top:16%
}
h1 {
    padding-bottom: 2%;
}
h2 {
    padding-bottom: 2%;
}
.p1 {
    text-align: center;
    font-size: 150%;
    margin: 1% 3% 0% 3%;
    padding: 1% 1% 1% 1%;
}
.p2 {
    text-align: center;
    font-size: 150%;
    margin: 0% 3% 2% 3%;
    padding: 1% 3% 1% 3%;
}
.p1, .p2 {
    color:white;
    background-color: #ddb9a3;
}
.p3 {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}
.p4 {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}
.img2 {
    width: 10%;
    margin-left: 45%;
}
.img3 {
    width: 10%;
    margin-left: 45%;
    margin-top: 5%;
}
.img4 {
    height: 300px;;
    width: 100%;
    object-fit: cover;
    object-position: 25% 20%;
    margin: 2.5% 0 -1% 0;
}
.footerbottom {
    padding: 3%;
    background-color: #f9e7dc;
}